.App {
  width: 100%;
  background-color: rgb(56, 42, 75);
}

/* common style */

.flex {
  display: flex;
}

.row {
  display: flex;
  width: 100%;  
}

.p-20 {
  padding: 50px;
}

.p-30 {
  padding-inline: 60px;
}

/* navbar component style */

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

.logo {
  display: flex;
  align-items: center;  
}

/* dashboard component style */

.explain-section {
  display: flex;
  width: 100%;
}

.static-hr {
  margin-inline: 30px;
  height: 3px;
  background-color: aliceblue;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ref-btn-group {
  padding: 30px 0 0 80px;
  margin-bottom: 30px;
}

.sol-rising {
  width: 66.66666%;
}

.sol-status {
  width: 33.33333%;
}

.stakingForm {
  /* flex-wrap: wrap; */
  margin: 0 30px 0 30px;
}

.col-lg-4 {
  /* flex: 0 0 auto; */
  width: 33.33333%;
}

.col-lg-8 {
  /* flex: 0 0 auto; */
  width: 66.66666%;
}

.col-md-6 {
  width: 50%;
}

.staking-section {
  padding: 0 40px 0 40px;
}

.level {    
  width: 100%;
  height: 100%;
  background: url('../public/images/level.png');
  background-position: center;
  background-repeat: no-repeat;  
}

.referalForm {
  position: absolute;
  margin-top: -30px;
}

.nftBoxForm {
  background-image: linear-gradient(to top, #453570 , #18121e00);
  border: 4px solid #3a2462;
  border-top: 0 !important;
  border-radius: 10px;
  min-height: 50px;
  padding: 20px   !important;
  height: 100%!important;
  margin: 80px 0 30px 30px;
}

.yourStake {
  margin-left: 50px;
}

/* footer component style */

.footer {
  background-image: linear-gradient(from bottom to top, #453570 , #18121000);
  height: 120px;
  display: flex;
  align-items: center;  
  /* background: url('../public/images/footerbg.jpg');
  background-repeat: no-repeat;
  background-size: 100%; */
  /* opacity: 0.7; */
}

.LogoForm {
  display: flex;
  align-items: center;
}

.scanForm {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dappRadarForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:1150px) {
  .explain-section {
    display: block;    
    text-align: center;
  }
}