.App {
  width: 100%;
  background-color: rgb(56, 42, 75);
}

/* common style */

.none {
  display: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.alignCenter {
  align-items: center;
}

.row {
  display: flex;
  width: 100%;  
}

.p-20 {
  padding: 50px;
}

.p-30 {
  padding-inline: 30px;
}

/* navbar component style */

.btn-group {
  display: flex;
  flex-wrap: wrap;
  align-items: bottom;
  justify-content: center;
  padding-right: 20px;
}

.logo {
  display: flex;
  align-items: center;  
}

/* dashboard component style */

.explain-section {
  display: flex;
  width: 100%;
}

.static-hr {
  margin-inline: 30px;
  height: 3px;
  background-color: aliceblue;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ref-btn-group {
  padding: 30px 0 0 80px;
  margin-bottom: 30px;
}

.sol-rising {
  width: 66.66666%;
}

.sol-status {
  width: 33.33333%;
}

.stakingForm {
  /* flex-wrap: wrap; */
  margin: 0 30px 0 30px;
}

.col-lg-4 {
  /* flex: 0 0 auto; */
  width: 33.33333%;
}

.col-lg-8 {
  /* flex: 0 0 auto; */
  width: 66.66666%;
}

.col-md-6 {
  width: 50%;
}

.staking-section {
  padding: 50px 40px 0 40px;
}

.level {    
  width: 100%;
  height: 100%;
  min-height: 365px;
  background: url('../public/images/level.png');
  background-position: center;
  background-repeat: no-repeat;  
  background-size: contain;
}

.referalForm {
  position: absolute;
  margin-top: -30px;
}

.nftBoxForm {
  background-image: linear-gradient(to top, #453570 , #18121e00);
  border: 4px solid #3a2462;
  border-top: 0 !important;
  border-radius: 10px;
  min-height: 50px;
  padding: 20px   !important;
  height: 100%!important;
  margin: 80px 0 30px 30px;
}

.yourStake {
  margin-left: 50px;
}

/* footer component style */

.footer {
  background-image: linear-gradient(from bottom to top, #453570 , #18121000);
  height: 120px;
  display: flex;
  align-items: center;  
  /* background: url('../public/images/footerbg.jpg');
  background-repeat: no-repeat;
  background-size: 100%; */
  /* opacity: 0.7; */
}

.LogoForm {
  display: flex;
  align-items: center;
}

.scanForm {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dappRadarForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: none;
  color: white;
  margin-right: 10px;
  cursor: pointer;
}

.sidebarForm {
  margin-top: 100px;
  display: block;
  text-align: center;
}

.bottom-border {
  border-bottom: 2px solid white; 
}

.connectBtn {
  margin-top: 20px;
}

.menu:hover {
  color: burlywood;
}

.d-btnGroup {
  width: 70%;
}

.stake-column {
  margin: 50px 15px 15px 15px;
}

.flex-wrap {
  flex-wrap: wrap;    
}

.foot-display {
  display: none;
}

.foot-hide {
  display: block;
}

.sol-token {
  display: block;
}
.sol-token-display {
  display: none;
}

@media (max-width:1150px) {
  .stakingForm {
    flex-wrap: wrap;
    display: flex;
  }
  .explain-section {
    display: block;
  }
  .sol-rising {
    /* width: 60%; */
    margin-inline: 15% !important;
    padding-left: 50px !important;
    width: 66.6666%;
  }
  .btn-group {
    display: none;
  }
  .menu {
    display: block;
  }
  .sol-status {
    width: 62%;
    margin-inline: 25% !important;
  }
  .stake-column {
    margin: 60px 0 0 0 !important;    
  }

  .Info-section {
    display: block !important;    
    width: 95% !important;
    margin: 58px 0px 0 -14px;
  }
  .col-lg-12 {
    width: 100% !important;
    padding: 0px !important;
  }
  .nftBoxForm {
    margin: 80px 0 30px 25px !important;
  }
  .d-btnGroup {
    display: flex;
    justify-content: center;
    width: 80% !important;
  }

  .ref-btn-group {
    display: flex;
    justify-content: center;
    padding-left: 50px !important;;
  }
}

@media (max-width:768px) {
  .d-btnGroup {
    width: 60%;
  }   
  
  .col-md-12 {
    width: 100% !important;
  }

}

@media (max-width: 670px) {
  .nftBox {
    font-size: 30px !important;
    margin-inline: 0px !important;
  }
  /* .staking-section {
    padding: 0 !important;
  } */
  .nftBoxForm {
    margin: 103px 0 30px 25px !important
  }

  .foot-display {
    display: block;
  }

  .foot-hide {
    display: none;
  }

  .sol-status {
    margin-inline: 20% !important;
  }
  .staking-section {
    padding-top: 0px !important;
  }
}

@media (max-width: 550px) {
  .sol-status {
    margin-inline: 10% !important;
    width: 70% !important;
  }
  .sol-rising {
    padding: 0px !important;
  }
}

@media (max-width: 475px) {
  .sol-token {
    display: none !important;
  }
  .sol-token-display {
    display: block !important;
  }
  .sol-rising {
    padding: 0px !important;
  }
  .sol-status {
    margin-inline: 0% !important;
    width: 80% !important;
  }
  .statusForm {
    width: 100% !important;
    margin-inline: 10%;
  }
  .Info-section {
    padding: 0px !important;
  }
  .nftBoxForm {
    margin-top: 150px !important;
  }
  .ref-btn-group {
    padding-left: 15px !important;
  }
}