.App {
  width: 100%;
  background-color: rgb(56, 42, 75);
}

/* common style */

/* navbar component style */

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;  
}

/* dashboard component style */

.explain-section {
  padding-top: 100px;  
  display: flex;
  width: 100%;
}

.static-hr {
  margin-inline: 30px;
  height: 3px;
  background-color: aliceblue;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}